<!-- This page is not used any longer. home.md is now the index -->

<!DOCTYPE html>
<html>
  {% import "macros.html" as macros %} 
  {{ macros.head(config.title) }}
  {{ macros.navigation(content.pages) }}
  <p align="middle">
  <img src="../assets/kisspng-space-invaders.png" width="100" /></p>
  
   <div style="display:flex">
  	<div style="flex:1;">
      <img src="assets/img_snow.jpg" alt="Snow" style="width:100%">
    </div>
  	<div style="flex:1;">
      <div align="center">
        <h1><strong>Tim Co</strong></h1>
        Family<br>
        Growth<br>
        Bay Area<br>
        Hong Kong<br>
        
      </div>
    </div>
  </div> 
  
  <body>
    <h1>Posts</h1>
    <ul>
      {% for post in content.posts %}
        <div style="display:flex; flex-direction:row;">
            {% if post.preview_image %}
            <img src="{{ post.preview_image }}" alt="{{ post.preview_image_name }}">
            {% endif %}
            <article>
              <a href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                <p>{{ post.preview }}</p>
              </a>
              <p>Last edited: {{ post.date }}</p>
            </article>
        </div>
      {% endfor %}
    </ul>
  </body>
</html>