{% macro head(page_title) -%}
<head>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
{% endmacro -%}

{% macro navigation(pages) -%}
<nav>
  <link rel="stylesheet" href="/css/navigation.css" />
  <ul>
    {% for page in pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endmacro -%}

{% macro bookshelf(books) -%}
<div>
  <ul>
    <h2>Bookshelf</h2>
    {% for book in books %}
    <li><a href="{{ book.url }}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endmacro -%}


{% macro gallery(folder) -%}
<nav>
  <ul>
    {% for image_path in folder %}
    <!-- <li><a href="{{ book[0] }}">{{ book[1] }}</a></li> -->
     <li>{{ image_path }}</li>
    {% endfor %}
  </ul>
</nav>
{% endmacro -%}