{% macro head(page_title) -%}
<head>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
{% endmacro -%}

{% macro navigation(pages) -%}
<nav>
  <link rel="stylesheet" href="/css/navigation.css" />
  <ul>
    {% for page in pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endmacro -%}

{% macro bookshelf(books) -%}
<div>
  <ul>
    <h2>Bookshelf</h2>
    {% for book in books %}
    <li><a href="{{ book.url }}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endmacro -%}


{% macro gallery(gallery_images) -%}
  <head>
    <link rel="stylesheet" type="text/css" href="/css/pics.css" />
    <meta charset="utf-8">  
    {% for img_path in gallery_images %}
      <link rel="preload" href="{{ img_path }}" as="image">
    {% endfor %}
  </head>
  <body>
    <div id="gallery">
      {% for img_path in gallery_images %}
        <a href="{{ img_path }}">
          <img src="{{ img_path }}" alt=>
        </a>
    {% endfor %}
    </div>
 </body>
</html>
{% endmacro -%}

{% macro post_gallery(gallery_images) -%}
  <head>
    <link rel="stylesheet" type="text/css" href="/css/pics.css" />
    <meta charset="utf-8">  
    {% for img_path in gallery_images %}
      <link rel="preload" href="../../../{{ img_path }}" as="image">
    {% endfor %}
  </head>
  <body>
    <div id="gallery">
      {% for img_path in gallery_images %}
        <a href="../../../{{ img_path }}">
          <img src="../../../{{ img_path }}" alt=>
        </a>
      {% endfor %}
    </div>
 </body>
</html>
{% endmacro -%}