body {
  font-family: avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
  font-size: 16px;
}

ul li a {
  color: grey;
}



.flex-container {
  padding: 100;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.row { 
  -webkit-flex-direction: row; 
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.row.images { 
  margin-left: 50px;
}


.column { 
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
}